.five{
    background-color: black;
    color: white;
    width: 100%;
    margin: auto;
    height: 615px;
}
.five h1{
    font-size: 70px;
    margin-left: 5%;
}
.five img{
    width: 45%;
    margin-left: 100px;
    height: 615px;
    float: right;
}
.five p{
    font-size: 30px;
    font-weight: 100px;
    margin-left: 5%;
}
.five #green{
    background-color: aquamarine;
    color: black;
    padding: 20px;
    width: fit-content;
    font-weight: bold;
    border-radius: 40px;
    margin-left: 5%;